<html>
  <head>
  </head>

  <body>
    foo/bar
    <script type="text/javascript" src="/intranet-tmpl/prog/en/lib/jquery/foo.js" />
    <script type="text/javascript" src="/opac-tmpl/prog/en/lib/jquery/foo.js" />
    <script type="text/javascript" src="[% interface | uri %]/prog/en/lib/jquery/foo.js" /> <!-- This one is ok -->
    <script type="text/javascript" src="[% interface | uri %]/prog/en/lib/jquery/foo.js" /> <!-- This one too -->
  </body>
</html>
